<%= provide :title, t("static_page.help.name") %>
<h1><%= t "static_page.help.name" %></h1>
<p>
<%= t "static_page.help.head_title" %>
<%= link_to t("here"), Settings.links.help, class: "text-lowercase" %>
<%= t "static_page.help.footer_title" %>
<%= link_to "Ruby on Rails", Settings.links.book, class: "text-capitalize" %>
