<div class="center jumbotron">
  <%= provide :title, t("static_page.home.name") %>
  <h1><%= t "static_page.sample_app" %></h1>
  <p>
    <%= t "static_page.home.title" %>
    <%= link_to t("static_page.sample_app"), Settings.links.rails %>
  </p>
  <%= link_to t("sign_up.text"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("Ruby_on_Rails-Logo.wine.svg", alt: "Rails logo", id: "ruby_logo"), Settings.links.ruby_on_rails %>
<%= image_tag("cat.jpeg") %>
