<%= form_for(@micropost) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t("micropost.placeholder_create") %>
  </div>
  <span class="image">
    <%= f.file_field :image, accept: Settings.const.image_format_view %>
  </span>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
